@use "~@destinygg/libstiny" as dgg;
@use "@destinygg/libstiny/lib/utils/transitions" as transitions;

.controls-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: dgg.$space-2;
  background-color: dgg.$semantic-background-surface;
  border-radius: dgg.$semantic-radii-small;
  padding: dgg.$space-1;
  border: 1px solid dgg.$semantic-border-default;
  opacity: 1;
  position: relative;
  @include transitions.create-transition(opacity, enter-exit);

  &--hidden {
    opacity: 0;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
