@use "~@destinygg/libstiny" as dgg;
@use "@destinygg/libstiny/lib/utils/transitions" as transitions;
@use "sass:map";

.dropdown {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);

  $easing: map.get(transitions.$transition-curves, enter-exit);

  &[data-state="open"] {
    animation: dropdown-open $easing;
  }

  &[data-state="closed"] {
    animation: dropdown-close $easing;
  }

  [role="group"] {
    display: inherit;
    flex-direction: inherit;
    gap: inherit;
  }

  &__item {
    &--active {
      color: dgg.$palette-primary-11;
      background-color: dgg.$palette-primary-3;

      &:hover {
        color: dgg.$palette-primary-11;
        background-color: dgg.$palette-primary-4;
      }
    }
  }
}

@keyframes dropdown-open {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-4px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes dropdown-close {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.95) translateY(-4px);
  }
}
